body {
    background: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

a {
   text-decoration: none; 
   color: red;
}




.head {
    
 height: 72px;
  background-color:#7DB042;
  
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0;


}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.horizontal {
    display: flex;
}



.hero{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    width: 1000px;
    margin: 0px;
    background-color: rgb(53, 51, 49);
    border: 5px rgb(29, 28, 26) solid;
    border-radius: 8px;
    
}

/* The scroll shit works for now but i need to find a fix
to my bpxes disappearing/ everything looks pretty nice though. Atleast,
for what I'm going for. */

.blog{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(156, 173, 161);
    border: 5px solid #ffffff;
    border-radius: 8px;
    
    
}

.textboxM{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    color: #EC494C;
    background-color: #092706;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 16px;
    padding: 16px;

}

.textboxMF {
    display: flex;
    max-width: 500px;
    height: auto;
    padding: 25px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    color: #EC494C;
    background-color: #092706;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 16px;
    
}




.footer {
  height: 72px;
  background-color:#7DB042;
  
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0;
  
}


#logo{
    color: #EC494C;
    font-family: 'Convergence';
    font-size: 32px;
    font-size: 50px;
    font-weight: 900;
    margin: 0;

     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

#selfie {
    height: 500px;
    border: 5px #092706 solid;
}

#footer{
    text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
