body {
    background: rgb(136, 136, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navi {
    
display: flex;
justify-content: space-between;
padding: 16px;
background-color: #2e2e2e;
}

.logo{
    color: crimson;
    font-size: 32px;
    font-weight: 900;
    margin: 0;


}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

a {
   text-decoration: none; 
   color: red;
}

.mainfuck{
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: antiquewhite;
    border: 8px black;
}